@import "../components/sticky-nav";

main {
  div.row {
    h1 {
      text-align: left;
      padding-left: 0;
    }
  }
  ul.row {
    list-style-type: none;
    padding: 0;
    li {
      overflow: hidden;
      padding: 0;
      margin-bottom: 10vh;
      div.img-container {
        height: 50vh;
        overflow: hidden;
        img {
          height: 70vh;
        }
      }
    }
  }
}
